<div class="container">
    <div class="row col-xs-12">
        <h1>Main</h1>

        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
        </ul>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat blanditiis eos reiciendis rem soluta in cumque quidem neque aliquam, et ipsa dolores, consequatur ipsum repellendus numquam optio. Ipsum, ratione, illo!
        </p>
    </div>
</div>
